<div id="TopHeader">
    <div ><img src="../assets/APLogo.png" alt="Logo Argentina Programa" id="APLogo"></div>
    <div class="socialLogo"><a href=""><img class="logo" src="../assets/linkedin.png" alt="LinkedIn Logo"></a></div>
    <div class="socialLogo"><a href=""><img class="logo" src="../assets/github.png" alt="Github Logo"></a></div>
    <div class="socialLogo"><a href=""><img class="logo" src="../assets/whatsapp.png" alt="Whatsapp Logo"></a></div>
    <div class="socialLogo"><p>Botón Ingreso</p></div>
</div>

<div id="Banner"><img src="../assets/banner2.jpg" alt="Banner"></div>
